src/main/resources/dtd.dtd

<!ELEMENT dataset (record+)>
        <!ATTLIST dataset
                source CDATA #REQUIRED>

        <!ELEMENT record (Image, StudyID, Patient, Projection, Pediatric, MethodProjection, Report, Label, Localizations)>
        <!ATTLIST record
                id CDATA #IMPLIED>


        <!ELEMENT Image ANY>
        <!ATTLIST Image
                ImageID  CDATA #REQUIRED
                ImageDir CDATA #REQUIRED>

        <!ELEMENT StudyID (#PCDATA)>

        <!ELEMENT Patient ANY>
        <!ATTLIST Patient
                PatientID    CDATA #REQUIRED
                PatientBirth CDATA #REQUIRED>

        <!ELEMENT Projection (#PCDATA)>
        <!ELEMENT Pediatric (#PCDATA)>
        <!ELEMENT MethodProjection (#PCDATA)>

        <!ELEMENT Report ANY>
        <!ATTLIST Report
                ReportID CDATA #REQUIRED
                Report   CDATA #IMPLIED>

        <!ELEMENT Label ANY>
        <!ATTLIST Label
                MethodLabel                   CDATA #IMPLIED
                Labels                        CDATA #REQUIRED
                LabelsLocalizationsBySentence CDATA #IMPLIED
                labelCUIS                     CDATA #IMPLIED>

        <!ELEMENT Localizations (#PCDATA)>
        <!ATTLIST Localizations
                LocalizationsCUIS CDATA #IMPLIED>
